doctype html
html
	head
		title= "Real time web chat"
		script(type='text/javascript', src='/chat.js')
		script(type='text/javascript', src='/js/socket.io-1.3.4.js')
	body
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
		.controls
			| Name: 
			input#name(style='width:350px;')
			br
			input#field(style='width:350px;')
			input#send(type='button', value='send')